<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SportFy - Editar Evento</title>
    <script>
    (function() {
        // Verifica a preferência salva no localStorage
        if (localStorage.getItem('theme') === 'dark-mode') {
            // Aplica a classe diretamente na tag <html> ANTES da página ser desenhada
            document.documentElement.classList.add('dark-mode');
        }
    })();
</script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{fragments :: header}"></div>

    <main class="container-main">
        <div class="form-box">
            <h2 style="color: #333; font-size: 2rem; text-align: center; margin-top: 0; margin-bottom: 2rem;">Editar Evento</h2>

            <form th:action="@{/eventos/editar/{id}(id=${evento.id_evento})}" th:object="${evento}" method="post" class="event-form">

                <div class="form-group">
                    <label>Modalidade:</label>
                    <p style="padding: 12px; background-color: #f2f2f2; border: 1px solid #ccc; border-radius: 5px; margin: 0;">
                        <strong th:text="*{modalidadeEvento}">Futebol</strong>
                    </p>
                    <input type="hidden" th:field="*{modalidadeEvento}" />
                </div>

                <div class="form-group">
                    <label for="lugar">Endereço Completo do Local:</label>
                    <input type="text" id="lugar" th:field="*{lugar}" required>
                </div>

                <div class="form-group">
                    <label for="dataHora">Data e Hora do Evento:</label>
                    <input type="datetime-local" id="dataHora" name="dataHoraEvento" th:value="${#temporals.format(evento.dataHoraEvento, 'yyyy-MM-dd''T''HH:mm')}" required>
                </div>

                <div class="form-group">
                    <label for="descricao">Descrição:</label>
                    <textarea id="descricao" th:field="*{descricao}" rows="4"></textarea>
                </div>

                <button type="submit" class="btn-submit-form">Salvar Alterações</button>
            </form>
        </div>
    </main>
        <script th:src="@{/js/theme.js}"></script>

</body>
</html>